* {
  border: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tituloPag {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  padding: 20px;
  width: fit-content;
  height: 420px;
  background-color: #2a2525;
  border-radius: 20px;
  gap: 20px;
  box-shadow: 15px 15px 20px rgba(255, 0, 0, 0.2);
}

.textos {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 18px;
  color: #fff;
}

h3 {
  font-size: 16px;
  color: #fff;
}

input {
  border: 2px solid red;
  border-radius: 10px;
  height: 20px;
  padding: 10px;
  outline: none;
}

#btInicia {
  background-color: rgb(75, 173, 190);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  width: 50%;
}

#btVerifica {
  background-color: rgb(75, 173, 190);
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  width: 50%;
}

#painel {
  font-size: 30px;
}

#erradas {
  font-size: 15px;
  color: red;
  margin-left: 60px;
}

.desenho {
  display: flex;
  align-items: center;
}

#reset {
  background-color: rgb(red, green, blue);
  padding: 10px;
  color: red;
}
